.nav-link{
    border-radius: 30px;
}



#home{
    background-color: #00337f ;
    padding-top: 45px;
    color: white;
    
}

.landing1{
    
    height: 500px;
    text-align: center;
    padding: 30px;
}
.landing2{
    height: 500px;
    padding: 30px;
}
.content{
    width: 100%;
   height: 100%;
    display: flex;
    align-items: center;
    
}
.headingcontent{
    color: rgba(255, 255, 0, 0.986);
}
.headerimg{
    padding-top: 20px;
}


#about{
    padding-top: 82px;
    background-color: white;
    text-align: center;
}
.aboutcontainer{
    height: 500px;
}
.aboutclass{
    align-content: center;
}

#services{
    padding-top: 30px;
    background-color: #00337f;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    
}
.card-title h5{
    font-weight: bold;
}



#contacts{
    text-align: center;
    padding-top: 45px;
    background-color: white;
    height: 600px;
}

#footer{
    text-align: center;
    background-color: #00337f;
}




@media (max-width: 994px) {
    .navbar-nav{
        text-align: center;

    }
    
    
}