.nav-link{
    border-radius: 30px;
}



#home{
    background-color: rgb(186, 179, 179);
    padding-top: 45px;
    
}

.landing1{
    
    height: 500px;
    text-align: center;
    padding: 30px;
}
.landing2{
    height: 500px;
    padding: 30px;
}


#about{
    padding-top: 45px;
    background-color: white;
    text-align: center;
}
.aboutcontainer{
    height: 500px;
}
.aboutclass{
    align-content: center;
}


#services{
    padding-top: 30px;
    background-color: rgb(186, 179, 179);
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    
}
.card-title h5{
    font-weight: bold;
}


#contacts{
    text-align: center;
    padding-top: 45px;
    background-color: white;
    height: 600px;
}

#footer{
    text-align: center;
    background-color: rgb(186, 179, 179);
}




@media (max-width: 994px) {
    .navbar-nav{
        text-align: center;

    }
    
}